

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login{
    margin-top: 300px;
    padding: 0 300px;
    display: flex;
    flex-direction: column;
    
    max-width: 200px;  
}

.input{
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #d5dee7;
}

.btn-login {
    margin-top: 10px;
    background-color: #83c5be;
    border: none;
    padding: 5px;
    border-radius: 5px;
}



