
h1 {
  
  color: #233d4d
}

.main-container {
  align-items: center;
  text-align: center;
  background-image: url(./images/marie-loferer-iEUVWUn7qZE-unsplash.jpg);
  background-size: contain no-repeat;
}
  

.btn-end{
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #e63946;
  border: none;
  border-radius: 10px;
}

  .knock-btn {
    border-radius: 50%;
    border: none;
    padding: 25px;
    background: linear-gradient(45deg, #ade1e5, #00a5cf);
    margin-right: 5px;
    font-size: 1rem;
  }

.btn {
  background: linear-gradient(45deg, #D9D9D9, #8D8D8D);
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.calling {
  width: 400px;
  height: 400px;
  border-radius: 25%;
  margin-bottom: 10px;
  background-image: url(./images/Interface.jpg);
  background-position-y: center;
  margin-right:0;
}

.incoming {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  background-image: url(./images/Interface.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}



 
  